.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFAFF;
}

.App-body {
  background-color: #282c34;
  min-height: 88vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFAFF;
}

.App-link {
  color: #00D9FF;
}

.diceList{
  display: flex;
  flex-direction: row;
  min-height: 10vh;
  border-radius: 20px;
}

.diceOnTrack{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 4vh;
  max-width: 30vh;
  justify-content: center;
  border-radius: 20px;
}

.dice{
  background: none;
  border: none;
  color: white;
  filter: invert(60%);
  animation: App-logo-spin infinite 5s linear;
}
.dice:hover{
  animation: App-logo-spin-scale infinite 5s linear;
}

.newDice{
  background: none;
  border: none;
  color: white;
  min-height: 5vh;
}
.newDice:hover{
  transform: scale(1.4);
}
.newDice:active{
  animation: App-logo-spin infinite 500ms linear;
}

.bottom-button{
  background: #00D9FF;
  border: none;
  border-radius: 20px;
}
.bottom-button:hover{
  transform: scale(1.2);  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-scale {
  from {
    transform: rotate(0deg) scale(0.8);;
  }
  to {
    transform: rotate(0deg) scale(0.8);;
  }
}